@font-face {
    font-family: 'Arcuata';
    src: url('Fonts/Arcuata.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Piazzolla';
    src: url('Fonts/Piazzolla.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Hando Bold';
    src: url('Fonts/Hando-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper';
    src: url('Fonts/Cooper-Medium.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Anko-Bold-Italic';
    src: url('Fonts/Anko-Bold-Italic.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Ageo';
    src: url('Fonts/Ageo-Bold.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

/* General Styles */
body {
    background-color: #ece2d3;
    margin: 25px 5px 0 5px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cooper';
    text-align: center;
}

.button, .header a {
    font-family: 'Ageo';
    font-weight: 400;
    font-size: 22px;
    padding: 5px 10px 3px 10px;
    border-radius: 8px;
    background-color: #9D000D;
    color: white;
    border: none;
    text-decoration: none;
}

/* Header */
.header {
    border-radius: 10px 10px 0 0;
    background-color: white;
    margin: 20px 0 0 0;
    border: 1px solid #bfb398;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    position: relative;
    width: 250px;
    z-index: 2;
}

.header button, .header a {
    padding: 0;
    margin: 10px 0 10px 0;
    background: none;
    font-size: 7.9vmin;
}

#X.show {
    position: absolute;
    right: 1.1rem;
    z-index: 1;
}

.button {
    transition: opacity 0.25s ease-in-out, transform 0.4s ease-in-out;
    opacity: 1;
    position: relative;
}

.button.hide {
    transform: translateX(-100%);
    opacity: 0;
}

#subContainer {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .65s ease-in-out;
}

#subContainer li {
    list-style: none;
    margin: 0p 15px 8px 15px;
    padding-top: 5px;
    font-size: 27px;
    font-family: 'Arcuata';
    font-weight: 600;
    color: white;
    text-align: center;
    transform: translate3d(30%, -5px, 0);
    transition: transform .35s ease-in-out, opacity .35s ease-in-out;
    opacity: 0;
    position: relative;
}

#subContainer.show {
    max-height: 254px; 
}

#subContainer.show li {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

#subContainer ul {
    margin: 10px 0 10px 0;
    padding: 0;
}

#oval {
    border: 1px solid #bfb398;
    z-index: 1;
    position: relative;
    top: 135px;
    left: 9px;
    width: 250px;
    height: 140px;
    margin:10px 0 0 -10px;  
    background: white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 140px / 77px;
    clip-path: inset(0 28px 0 28px);
}

.logo-wrapper {
    position: relative;
    top: -164px;
}

/* Navbar */
nav {
    position: relative;
    margin: 0 10px;
    width: 100%;
    padding: 0;
    background: linear-gradient(#AC0836, #8C062C);
    border: 1px solid #E28C4A;
    border-left: none;
    border-right: none;
    outline: 1px solid #BC3B30;
    align-items: center;
    margin-bottom: -135px;
    position: relative;
    bottom: 145px;
}

.start {
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.start button:not(:last-child)::after {
    content: "•";
    margin-left: 4vw;
    color: rgb(240, 157, 180);
}

#order {
    background: linear-gradient(
        45deg,
        rgb(235, 235, 141) 5%,
        rgb(235, 235, 141) 10%,
        white 10%,
        white 15%,
        rgb(235, 235, 141) 15%,
        rgb(235, 235, 141) 20%,
        white 20%,
        white 25%,
        rgb(235, 235, 141) 25%,
        rgb(235, 235, 141) 30%,
        white 30%,
        white 35%,
        rgb(235, 235, 141) 35%,
        rgb(235, 235, 141) 40%,
        white 40%,
        white 45%,
        rgb(235, 235, 141) 45%,
        rgb(235, 235, 141) 50%,
        white 50%,
        white 55%,
        rgb(235, 235, 141) 55%,
        rgb(235, 235, 141) 60%,
        white 60%,
        white 65%,
        rgb(235, 235, 141) 65%,
        rgb(235, 235, 141) 70%,
        white 70%,
        white 75%,
        rgb(235, 235, 141) 75%,
        rgb(235, 235, 141) 80%,
        white 80%,
        white 85%,
        rgb(235, 235, 141) 85%,
        rgb(235, 235, 141) 90%,
        white 90%,
        white 95%,
        rgb(235, 235, 141) 95%
    );
    background-size: 200% 100%;
    animation: barber-pole-animation 12s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes barber-pole-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500% 0;
    }
}

/* About Section */

.about h1, .socials h1 {
    font-family: 'Anko-Bold-Italic';
    font-weight: 300;
}

.about-wrapper {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.40), 
      rgba(255, 255, 255, 0.40)
    ),
    /* bottom, image */
    url(Images/Leopolds-About.webp);
    background-position: center;
    background-size: cover;
}

.about {
    min-height: 250px;
    height: auto;
    filter: brightness(1);
    background-repeat: no-repeat;
    border: 1px solid #bfb398;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.about h1 {
    color: #fff;
  text-shadow:
    1px 1px 0 #bfb398,
    -1px 1px 0 #bfb398,
    -1px -1px 0 #bfb398,
    1px -1px 0 #bfb398;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 42px;
}

.about p {
    text-shadow:
    1px 1px 0 rgba(255, 255, 255, 0.329),
    -1px 1px 0 rgba(255, 255, 255, 0.329),
    -1px -1px 0 rgba(255, 255, 255, 0.329),
    1px -1px 0 rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    color: black;
    line-height: 1.25;
    font-family: 'Piazzolla';
    margin: 0 15px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
    margin-left: 15px;
}

.about button {
    margin-bottom: 12px;
}

/* Hours */
.hours {
    height: auto;
    text-align: center;
    background-color: #ffecb6;
    border: 2px solid #9D000D;
    border-left: 1px solid #bfb398;
    border-right: 1px solid #bfb398;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 5px;
}

span {
    font-weight: 601;
}

.hours h2 {
    color: #9D000D;
    font-size: 26px;
    margin-bottom: 8px;
}

.hours h3 {
    margin-top: 7px;
    margin-bottom: 8px    ;
}

.hours .other {
    margin-top: 10px;
    font-weight: 100;
}

.hours h4 {
    margin: 4px;
    font-size: 19px;
    font-weight: 700;
}

.hours #main {
    font-size: 23px;
}

/* Slider */
.slider {
    margin: auto;
    display: flex;
    width: fit-content;
    overflow: hidden;
    gap: 50vw;
    position: relative;
    left: 1%;
}

.sliderContainer {
    display: flex;
    transition: transform 0.3s ease;
    padding-bottom: 3vh;
    position: relative;
}

.sliderWrapper {
    height: auto;
    width: 99.5%;
    overflow: hidden;
    background-color: white;
    border: 1px solid #E28C4A;
}

.sliderWrapper h1 {
    font-size: 11vmin;
    margin: 15px 0;
    color: #9D000D;
}

.item {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 97%;
    border-radius: 15px;
}

.item > button {
    min-width: 45%;
    margin-right: 10px;
}

.item h2 {
    min-width: 340px;
    font-size: 29px;
    margin: 10px 0 10px;
}

.catering {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(Images/Sprinkles.webp);
    background-position: center;
    background-size: contain;
    border: 1px solid #bfb398;
}

.catering h1 {
    color: #9D000D;
    margin: 25px 10px 20px 10px;
}

.catering img {
    width: 80%;
    border-radius: 15px;
    border: 5px solid #ffecb6;
    outline: 1px solid #b9af93;
}

.catering button {
    margin-bottom: 15px;
}

.cartWrapper {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catering .cartWrapper > strong {
    font-size: 20px;
}

/* Shipping */
.shipping {
    display: inline-block;
    position: relative;
    border: 1px solid #bfb398;
    border-bottom-style: none;
}

.shipping img {
    filter: brightness(0.80);
}

.shippingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shipping h1 {
    width: max-content;
    font-size: 8.8vmin;
    border-radius: 8px;
    margin: 35px 0 15px 0;
}

/* Sign Up */
.signUp {
    border: 1px solid #bfb398;
    background-color: white;
    padding-bottom: 15px;
}

.signUp h1 {
    margin: 15px 10px;
}

::placeholder {
    font-size: 1.5em;
    margin-left: 5px;
    font-family: 'Ageo';
    font-style: bold;
}

#emailSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
}

#email {
    width: 95%;
    line-height: 3em;
    margin-bottom: 5px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
}

button, #submit {
    margin-top: 4px;
    width: fit-content;
    font-family: 'Hando Bold';
    color: white;
    background-color: #9D000D;
    padding: 5px 10px;
    font-size: 24px;
    border-radius: 6px;
    border: none;
    text-decoration: none;
}

/* Girl Scouts */
.girlScouts {
    margin-top: -4px;
    border: 1px solid #bfb398;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffecb6;
    padding-bottom: 5px;
}

.girlScouts img {
    width: 200px;
}

.girlScouts h1 {
    margin: 20px 10px;
    color: #9D000D;
}

.girlScouts strong, .catering strong {
    font-family: 'Arcuata';
    margin: 8px 15px;
    font-size: 18px;
}

/* Socials */
.socials {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 20px;
    border: 1px solid #bfb398;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.socials h1 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #9D000D;
    text-decoration: underline;
    text-shadow: 2px 2px #ffecb6;
}

#social-wrapper {
    width: fit-content;
    display: flex;
    gap: 15px;
}

#social-wrapper img {
    max-width: 45px;
}

/* Awards */
.awards {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 8vw;
}

.awards img {
    max-width: 18%;
    height: auto;
}

#tripadvisor {
    border-radius: 10px;
}

/* Wrapper */
.wrapper {
    height: 106vmin;
    width: 99.5%;
    background: radial-gradient(rgb(230, 230, 180), rgb(235, 235, 141));
    margin-bottom: -5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #bfb398;
    display: inline-block;
    margin-bottom: -2vh;
}

.wrapper h1 {
    margin-top: 17px;
    font-size: 9vmin;
    color: #9D000D;
}

/* Image Container */
.imageContainer {
    position: relative;
}

.imageContainer h2 {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50vw;
    font-size: 22px;
    font-family: 'Ageo';
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    top: 51%;
    left: 30%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track .image {
    border-radius: 5px;
    width: 48vmin;
    height: 65vmin;
    object-fit: cover;
    object-position: 100% center;
}

/* Media Queries */
@media (min-width: 385px) {
    .slider {
        left: 1.5%;
    }
}

@media (min-width: 401px) {
    .slider {
        left: 2.55%;
    }
}